.transmit-tab-container {
  position: relative;
  height: calc(100% - 26px);
}

.transmit-content-area {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 50px; /* Space for config area */
  overflow: auto;
  width: 100%;
}

.transmit-config-area {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: calc(100% - 20px);
  background-color: var(--bg-input);
  z-index: 10;
  max-height: 50px; /* Fixed height */
  height: 50px; /* Fixed height NOTE: needed*/
  border-radius: 30px;
  margin: 10px;
}

/* Center tx-table container */
.tx-table-center {
  text-align: center;
  width: 100%;
  position: relative;
}

.tx-table-center #tx-table {
  display: inline-block;
  width: 100%;
  margin: 0 auto;
  min-height: 200px; /* Ensure table has minimum height */
}

/* Tabulator layout helpers */
.tabulator {
  font-size: 12px !important;
}

.tabulator .tabulator-header {
  height: 36px;
  line-height: 2;
  font-weight: bold !important;
  border-bottom: none !important;
}

.tabulator .tabulator-header .tabulator-col {
  border-right: none !important;
}

.tabulator .tabulator-row .tabulator-cell {
  padding: 6px 8px;
}

.tabulator .tabulator-row {
  border: none !important;
}

.tabulator .tabulator-row .tabulator-cell {
  border-right: none !important;
  border-left: none !important;
  border-top: none !important;
  border-bottom: none !important;
}

#baud-input,
#path-input {
  margin: 15px 0px;
}
