@import url("../node_modules/material-design-icons/iconfont/material-icons.css");
@import url("../node_modules/materialize-css/dist/css/materialize.css");
@import url("../node_modules/chrome-tabs/css/chrome-tabs.css");

:root {
  --nav-height: 36px;
  --drag-width: 120px;
  --icon-width: 24px;
  --menu-height: 350px;
  --bar-height: 53px;
  --trans-btn-height: 20px;
  --modem-btn-height: 10px;
  --bar-color-head: #fafafa;
  --bar-color-middle: #fafafa;
  --bar-color-tail: #fafafa;
}

html {
  height: 100%;
  font-size: 12px;
}

body {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: #fafafa;

  /* setting bar area as transparent */
  /* background-color: rgba(250, 250, 250, 0.7); */
}

::-webkit-scrollbar {
  display: none;
}

nav {
  /* -webkit-app-region: drag; */
  /* background-color: #fafafa; */
  height: var(--nav-height);
  line-height: 24px;
  background-color: #dee1e6;
}

td,
th {
  padding: 5px !important;
}

.chrome-tabs {
  position: absolute;
  top: 0px;
  left: 0px;
  width: calc(100% - var(--drag-width) - (var(--icon-width) / 2));
  height: var(--nav-height);
}

#add-tab {
  position: absolute;
  -webkit-user-select: none;
  top: 8px;
  right: calc(var(--drag-width) - 4px);
  color: #26a69a;
}
/* refer: https://github.com/electron/electron/issues/3022#issuecomment-543146976 */
.nav-drag-region {
  top: 6px;
  right: 0px;
  position: absolute;
  width: var(--drag-width);
  height: var(--nav-height);
  z-index: -1;
  -webkit-app-region: drag;
}

blockquote {
  margin-top: 10px;
  margin-bottom: 6px;
  font-size: 12px;
  font-weight: bold;
  border-left: 4px solid #26a69a;
}

.nav-wrapper {
  height: 24px;
  line-height: 24px;
}

.head-li {
  width: 24px;
  height: 24px;
  line-height: 24px;
}

.tiny-btn {
  -webkit-app-region: no-drag;
  position: absolute;
  top: 8px;
  width: 12px;
  height: 12px;
  margin: 5px !important;
}

.no-head {
  margin-top: 12px;
  padding: 0px !important;
}

.select-wrapper input.select-dropdown {
  padding-left: 14px;
  padding-right: 20px;
  box-sizing: border-box;
  text-overflow: ellipsis;
  border-radius: 12px;
  height: 24px;
  font-size: 12px;
  /* z-index: inherit; */
}

.dropdown-content {
  border-radius: 12px;
  width: fit-content;
  min-width: 0px !important;
}

.dropdown-content li {
  min-height: 28px;
  line-height: 28px !important;
}

.dropdown-content li > a,
.dropdown-content li > span {
  font-size: 12px;
  line-height: 28px;
  padding-top: 0px;
  padding-bottom: 4px;
}

.tabs {
  height: 26px;
}

.tabs .tab {
  height: 26px;
}

.tabs .tab a {
  color: #26a69a;
  height: 26px;
  line-height: 26px;
  font-size: 12px;
  font-weight: bold;
  /* border-radius: 6px 6px 6px 6px; */
}

.tabs .indicator {
  background-color: #fafafa;
}

.tabs .tab a:hover,
.tabs .tab a.active,
.tabs .tab a:focus.active {
  color: #26a69a;
  background-color: #fafafa;
}

input {
  font-size: 12px !important;
}

.input-field {
  /* margin-top: 0px; */
  margin-bottom: -5px;
}

.config-row {
  margin-top: 0px;
  margin-bottom: 0px;
}

.config-key {
  font-weight: bold;
}

.config-list {
  margin-top: 10px;
}
.config-item {
  line-height: 42px;
  margin-top: 0px;
}

.label-row {
  margin-bottom: 0px;
  padding-left: 10px;
}

.label-key {
  font-weight: bold;
}

.toast {
  background-color: #fafafa;
  color: #26a69a;
  margin-bottom: 254px;
  margin-left: 150px;
  max-width: 300px;
  font-weight: bold;
  text-align: center;
}

#logo {
  -webkit-app-region: no-drag;
  zoom: 80%;
  height: 20px !important;
  line-height: 24px !important;
  margin-left: 6px;
  margin-top: 2px;
  color: #26a69a;
  visibility: hidden;
}

#editor-area {
  height: calc(100% - var(--nav-height) - var(--bar-height));
}

#menu-area {
  height: var(--menu-height);
  width: calc(100%);
  /* width: 100%; */
  background-color: #fafafa;
}

#menu-tabs-row {
  padding-left: 0px;
  padding-right: 0px;
}

#menu-tabs {
  background-color: #e0f2f1;
}

/* Neumorphism button UI, need bar background set to: #55b9f3 */
/* #menu-btn,
#clear-btn {
  background: linear-gradient(145deg, #4da7db, #5bc6ff) !important;
  box-shadow: 9px 9px 19px #489dcf, -9px -9px 19px #62d5ff !important;
} */

#bar-area {
  /* width: calc(100% - 1px); */
  width: 100%;
  height: var(--bar-height);
  /* position: fixed; */
  position: sticky;
  line-height: var(--bar-height);
  background: -webkit-linear-gradient(
    60deg,
    var(--bar-color-head),
    var(--bar-color-middle),
    var(--bar-color-tail)
  );

  /* setting bar area as transparent */
  /* background-color: rgba(255, 255, 128, 0.5); */
}

#modem-signal-bar {
  height: var(--modem-btn-height);
  /* background-color: aqua; */
  position: sticky;
  bottom: var(--bar-height) - var(--modem-btn-height);
  margin-bottom: calc(-1 * var(--modem-btn-height));
}

.modem-btn {
  position: sticky;
  bottom: var(--bar-height) - var(--modem-btn-height);
  font-size: var(--modem-btn-height);
  height: var(--modem-btn-height) !important;
  line-height: var(--modem-btn-height) !important;
  border-radius: 0px 0px var(--modem-btn-height) var(--modem-btn-height);
}

#trans-data {
  font-size: 12px;
  font-family: "Cascadia Mono", Consolas, "SF Mono", "Ubuntu Mono",
    "Lucida Console", monospace;
}

#trans-log-area {
  font-size: 12px;
  font-family: "Cascadia Mono", Consolas, "SF Mono", "Ubuntu Mono",
    "Lucida Console", monospace;
  max-height: 146px;
  padding: 4px;
  overflow: auto;
}

#trans-eof-row {
  margin-top: 10px;
  margin-left: 10px;
}

#trans-send-btn,
#trans-log-btn {
  margin-top: 28px;

  height: var(--trans-btn-height) !important;
  line-height: var(--trans-btn-height) !important;
  border-radius: calc(var(--trans-btn-height) / 2);
}

#color-panel {
  height: 43px;
  line-height: 43px;
}

#chart-tab {
  background-color: #ffffff;
}

#chart {
  align-content: center;
  height: calc(var(--menu-height) - 26px);
}

#chart-menu {
  position: absolute;
  z-index: 999;
  /* background-color: #ffd180; */
  line-height: 40px;
}

#chart-switch-div,
#chart-clean-div {
  display: inline-block;
}

#chart-clean,
#downward-btn {
  transform: scale(0.64);
}

#licence-row {
  margin-top: 6px;
}
#licence-key {
  height: 24px;
  margin-bottom: 0px;
}

#baud-input,
#path-input {
  margin: 15px 0px;
}

.hl-red {
  background-color: #ff8a80 !important;
  border-radius: 2px;
}

.hl-orange {
  background-color: #ffd180 !important;
  border-radius: 2px;
}

.hl-yellow {
  background-color: #ffff8d !important;
  border-radius: 2px;
}

.hl-green {
  background-color: #b9f6ca !important;
  border-radius: 2px;
}

.hl-blue {
  background-color: #80d8ff !important;
  border-radius: 2px;
}

.hl-indigo {
  background-color: #8c9eff !important;
  border-radius: 2px;
}

.hl-purple {
  background-color: #ea80fc !important;
  border-radius: 2px;
}

.hex-cursor {
  border-left: 2px solid #e91e63;
}
